<!DOCTYPE html>
<!-- not in use because we created a simple JSON API -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>M.A's Photos</title>
  </head>
  <body>
    <p>Hello from <%= host %>.</p>
  </body>
</html>
